.message {
  text-align: left;
  margin-top: 1em;
  margin-left: 3em;

  .message-header {

    .button{
      display: inline;
      float: center;
    }

    .message-content {
      padding: 10px 10px 10px 10px;
    }
  }
}
